<div class="content container-fluid">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">
              <%= t('user_tests.new_user_tests') %>
            </h3>
          </div>
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
</div>
