<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-sm-6">
      <!--              <h1 class="m-0 text-dark">Starter Page</h1>-->
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item">
          <%= link_to t('home'), admin_path, class: "breadcrumb-item #{!defined?(breadcrumbs) ? 'active' : nil}" %>
        </li>

        <% if (defined?(breadcrumbs) && !breadcrumbs.nil? && breadcrumbs.size > 0)  %>
          <% breadcrumbs.each do |breadcrumb| %>
            <li class="breadcrumb-item <%= breadcrumbs.last == breadcrumb ? 'active' : nil %>">
              <% if (breadcrumbs.last != breadcrumb) %>
                <%= link_to breadcrumb[0], breadcrumb[1] %>
              <% else %>
                <%= breadcrumb[0] %>
              <% end %>
            </li>
          <% end %>
        <% end %>

      </ol>
    </div>
  </div>
</div>