<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <h1>Hello</h1>
    <div class="row">
      <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <!-- /.row (main row) -->
  </div><!-- /.container-fluid -->
</section>