<!-- Main content -->
    <!-- Default box -->
      <div class="row">
        <div class="col-12 text-center d-flex align-items-center justify-content-center">
          <div class="">
            <h2>Link<strong>Lab</strong></h2>
            <p class="lead mb-5">Bình Tân, TP HCM<br>
              Phone: +84 789 600 766
            </p>
          </div>
        </div>
        <div class="col-7">
          <div class="form-group">
            <%#= image_tag ("/assets/pending.png"), class: "img-responsive"%>
          </div>
        </div>
      </div>
  <!-- /.content -->
